magnetometer-data-processing-flow.json
[
    {
        "id": "9be5ca491d693a88",
        "type": "function",
        "z": "f42c18b21a462d63",
        "name": "FormatPayload",
        "func": "var payload = JSON.stringify(msg.payload.object.payload);\n\nlet [device_eui, DHT11_pin, DHT11_status, temperature, humidity,\nmag_pin_1, durations_high_1, durations_low_1, \nmag_pin_2, durations_high_2, durations_low_2, \nmag_pin_3, durations_high_3, durations_low_3] = \npayload.split(\",\")\n\nvar total_duration_z = parseFloat(durations_high_1) + parseFloat(durations_low_1);\nvar total_duration_y = parseFloat(durations_high_2) + parseFloat(durations_low_2);\nvar total_duration_x = parseFloat(durations_high_3) + parseFloat(durations_low_3);\n\nvar magnetic_field_z = (total_duration_z - 14.353)/0.118;\nvar magnetic_field_y = (total_duration_y - 14.353)/0.118;\nvar magnetic_field_x = (total_duration_x - 14.353)/0.118;\nvar total_vector_value = Math.sqrt(magnetic_field_z * magnetic_field_z + magnetic_field_y * magnetic_field_y + magnetic_field_x * magnetic_field_x);\n\nmsg.payload = {\n        device_eui: device_eui,\n        DHT11_pin: DHT11_pin,\n        DHT11_status: DHT11_status,\n        temperature: parseFloat(temperature),\n        humidity: parseFloat(humidity),\n        mag_pin_1: parseInt(mag_pin_1),\n        durations_high_1: parseInt(durations_high_1),\n        durations_low_1: parseInt(durations_low_1),\n        mag_pin_2: parseInt(mag_pin_2),\n        durations_high_2: parseInt(durations_high_2),\n        durations_low_2: parseInt(durations_low_2),\n        mag_pin_3: parseInt(mag_pin_3),\n        durations_high_3: parseInt(durations_high_3),\n        durations_low_3: parseInt(durations_low_3),\n        magnetic_field_z: magnetic_field_z,\n        magnetic_field_y: magnetic_field_y,\n        magnetic_field_x: magnetic_field_x,\n        total_vector_value: total_vector_value\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "d058e280d19b9754",
                "60b2a98c42b90bdf"
            ]
        ]
    },
    {
        "id": "60b2a98c42b90bdf",
        "type": "influxdb out",
        "z": "f42c18b21a462d63",
        "influxdb": "b7493358ce8935cc",
        "name": "influx",
        "measurement": "sensors_data",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "ASTRON",
        "bucket": "magnetometer-data",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "09d302e7ce99129d",
        "type": "mqtt in",
        "z": "f42c18b21a462d63",
        "name": "",
        "topic": "application/+/device/+/event/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8ec1cf70a90b99ad",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "9be5ca491d693a88",
                "8e6ad24e86c1b8d1"
            ]
        ]
    },
    {
        "id": "8e6ad24e86c1b8d1",
        "type": "debug",
        "z": "f42c18b21a462d63",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.object.payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 280,
        "wires": []
    },
    {
        "id": "d058e280d19b9754",
        "type": "debug",
        "z": "f42c18b21a462d63",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "b7493358ce8935cc",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "mag-test",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "8ec1cf70a90b99ad",
        "type": "mqtt-broker",
        "name": "chirpstack",
        "broker": "10.130.1.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]